<%- include ('../../partials/header.ejs')%>
<body>
    <%- include ('../../partials/navbar.ejs')%>
    
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h1>Editar Artigo</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="/articles/update">
                    <input type="hidden" value="<%= article.id %>" name="id">
                    <input class="form-control" type="text" name="title" placeholder="Define o título do Artigo" value="<%= article.title%>" /><br>
                    <textarea name="body" class="form-control" placeholder="Editar o Artigo aqui!" id="article"><%- article.body%></textarea><br>
                    <label>Categorias</label>
                    <select name="category" class="form-control">
                        <% categories.forEach(category => { %>
                            <% if(category.id == article.categoryId) { %>
                                <option value="<%= category.id %>" selected><%=category.title%></option>
                            <% }else{ %>
                                <option value="<%= category.id %>"> <%=category.title%> </option>
                               
                            <% } %>
                        <% }) %>
                    </select>
                    <br>
                    <button class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </div>
    </div>




</body>

<%- include ('../../partials/footer.ejs')%>
<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        selector: "#article",
        activeEditor: true,
        plugins:[
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],

    })
</script>