<%- include('partials/header.ejs') %>

<body>
    <%- include('partials/homenavbar.ejs') %>



    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/imagens/imgtech.jpg" style="max-height: 100vh;" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>Bem vindo ao Blog do Programador</h2>
              <p>Veja os principais artigos das principais Tecnologia.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="imagens/JavaScript.jpg" style="max-height: 100vh;" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>JavaScript</h2>
              <p>Veja os principais artigos do JavaScript.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/imagens/node.png" style="max-height: 100vh;" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>Node.js</h2>
              <p>Veja os principais artigos do Node.js</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/imagens/java.jpeg" style="max-height: 100vh;" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>Java</h2>
              <p>Veja os principais artigos do Java</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>



    <div class="container">
        <hr>
        <div class="mt-4 p-5 bg-dark text-white rounded">
            <h1>Bem Vindo ao Blog do Progamador</h1>
            <p>O blog do programador tras Artigos das principais tecnologia do momento da programação</p>
        </div>
        <% articles.forEach(article => { %>
            <hr> 
            <div class="card">
                <div class="card-header">
                    <%= article.title %>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-primary">Ler Artigo</a>
                </div>
                
            </div>
            <br>

        <% }) %>

        <div class="row">
            <div class="col col-12">
                <a style="float:right;" href="/articles/page/2">Next >></a>
            </div>
        </div>
        <hr>
    </div>

</body>

<%- include('partials/footer.ejs') %>